langchain
langgraph==0.2.50
python-dotenv
langchain_openai
langchain_community
pymysql
cryptography
pypdf
flask 
cryptography
trustcall
langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
notebook
tavily-python
wikipedia
trustcall
langgraph-cli